@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1692767000 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1692767000 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  /* TODO: fix the border made it with drop-shadow */
  filter: drop-shadow(5px 5px 0px #ffffff);
}